.pictur {
  display: flex;
  padding: 1rem;
  margin: 1%;
}

.imagen {
  max-width: 27%;
  padding: 1rem;
  margin: 1%;
 
  border-radius: 12rem;
}

.descripcion {
  color: rgb(250, 250, 250);
  text-shadow: -1px -1px 0 rgb(8, 8, 8), 1px 1px 0 rgb(7, 7, 7), -1px 1px 0 rgb(10, 10, 10), 1px 1px 0 rgb(7, 7, 7);
  font-size: 190%;
  padding: 1rem;
  margin: 1%;
}

.description {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  padding: 1.5rem;
  margin: 1%;
}

.description p {
  
  margin: 0;
  padding: 1rem;
  
}


.link-container a {
  margin-left: auto;
}


.description a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto; /* Añadir esto para empujar el enlace a la derecha */
  text-decoration: none;
  color: inherit; /* Asegura que el enlace mantenga el color de texto */
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.logo {
  max-width: 100px; /* Ajusta este tamaño según sea necesario */
  margin: 0 1rem;
}
