
   
    .footer {
      
        color: #fafafa;
        text-shadow: -1px -1px 0 rgb(10, 10, 10), 1px -1px 0 rgb(5, 5, 5), -1px 1px 0 rgb(3, 3, 3), 1px 1px 0 rgb(10, 10, 10);
        font-size:100% ; 
        bottom: 0;
        
        display: flex;
        justify-content: space-between;
       
      }
