@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;

  /* Fondo semi-transparente */
  /*background: rgba(255, 255, 255, 0); /* blanco semi */
  /*border-radius: 20px;

  /* Efecto difuminado detrás */
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  /* Borde opcional para darle más definición */
  /*border: 1px solid rgba(255, 255, 255, 0);

*/
}


.titulo2 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1rem;

  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.65);
}


/* Nuevo estilo para la introducción */
.intro-text {
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;

  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.nombre-proyectos {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 1rem;
  gap: 0.5rem;

  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}


.nombre-proyectos .icono {
  width: 1.5em;   /* Tamaño relativo al texto */
  height: auto;
  vertical-align: middle; /* Alineación con el texto */
}


.titles-content2 {
  padding: 20px;
  text-align: center;
    font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.titles-gallery2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.titulo-img2 {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}

.titulo-img2:hover {
  transform: scale(1.05);
}

.descripcion-proyecto {
  max-width: 600px;
  width: 90%;
  margin: 0 auto 1rem;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  font-size: 1.15rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.6;

  text-shadow: 0 2px 1px rgb(12, 12, 12);
}



@media (max-width: 480px) {
  .titulo2 {
    font-size: 2rem;
  }

  .nombre-proyectos {
    font-size: 1.6rem;
  }

  .intro-text {
    font-size: 1.1rem;
  }

  .descripcion-proyecto {
    font-size: 1rem;
  }
}
