.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;

  /* Fondo semi-transparente */
  /*background: rgba(255, 255, 255, 0); /* blanco semi */
  /*border-radius: 20px;

  /* Efecto difuminado detrás */
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  /* Borde opcional para darle más definición */
  /*border: 1px solid rgba(255, 255, 255, 0);

*/
}


.titulo2 {
  text-align: center;
  margin-top: 30px;
  font-size: 3.5rem;
  color: #faf7f7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

/* Nuevo estilo para la introducción */
.intro-text {
  font-size: 1.2rem;
  color: #dcdcdc;
  max-width: 800px;
  margin: 1.5rem auto 2rem auto;
  line-height: 1.7;
  padding: 0 1rem;
}

.titles-content2 {
  padding: 20px;
  text-align: center;
}

.titles-gallery2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.titulo-img2 {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.titulo-img2:hover {
  transform: scale(1.05);
}

.descripcion-proyecto {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  color: #f0f0f0;
  font-size: 1.15rem;
  line-height: 1.6;
  text-align: center;
  margin-top: 1rem;
}
