@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;

  /* Fondo semi-transparente */
  /*background: rgba(255, 255, 255, 0); /* blanco semi */
  /*border-radius: 20px;

  /* Efecto difuminado detr치s */
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  /* Borde opcional para darle m치s definici칩n */
  /*border: 1px solid rgba(255, 255, 255, 0);

*/
}


.titulo2 {
 color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

/* Nuevo estilo para la introducci칩n */
.intro-text {
 color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.titles-content2 {
  padding: 20px;
  text-align: center;
    font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.titles-gallery2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.titulo-img2 {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.titulo-img2:hover {
  transform: scale(1.05);
}

.descripcion-proyecto {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  

   color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
